PORT=8000
ALLOWED_ORIGINS=*

# Database

POSTGRES_DB=evd
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345

DATABASE_URL=postgresql://postgres:12345@localhost:5432/evd

# Firebase Config

FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=

# HugginFace models

HUGGINGFACE_RISK_MODEL=
HUGGINGFACE_CATEGORY_MODEL=